<mat-toolbar color="primary">
  <button mat-icon-button>
    <mat-icon>menu</mat-icon>
  </button>
  <span>物联大师</span>
  <span class="example-spacer"></span>
  <button mat-icon-button>
    <mat-icon>person</mat-icon>
  </button>
</mat-toolbar>

<mat-grid-list [cols]="cols" rowHeight="1:1.2">
  <mat-grid-tile *ngFor="let entry of entries" class="app" matRipple>
    <div class="icon">
      <img [src]="entry.icon" alt="">
    </div>
    <mat-grid-tile-footer>{{entry.name}}</mat-grid-tile-footer>
  </mat-grid-tile>
  <!--  todo 插件应用 -->
</mat-grid-list>
