
.example-spacer {
  flex: 1 1 auto;
}

.app {
  background: #5EB5FC;
  user-select: none;
  cursor: pointer;

  .icon {
    padding: 20%;
    img{
      width: 100%;
      height: 100%;
    }
  }
}
